/* Media-osio */
.media {
    padding: 2em;
    background-color: #f9f9f9;
}

.media h1 {
    color: #869386;
    margin-top: 0;
    text-align: center;
}

.media .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 saraketta */
    gap: 1em;
}

@media (max-width: 1200px) {
    .media .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 saraketta */
    }
}

@media (max-width: 800px) {
    .media .grid-container {
        grid-template-columns: 1fr; /* 1 sarake */
    }
}

.media .grid-container .placeholder {
    background-color: #869386;
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/* Footer */
footer {
    border-top: 3px solid #401D09;
    text-align: end;
    padding: 1em;
}


/* Fonttityylit */
.sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
}

.sarabun-bold {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
}

.sarabun-extrabold {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
}
