body
{
    background-color: #f9f9f9;
    font-family: "sarabun", sans-serif;
    color: #401D09;
}

.overlay
{
  background-color: white;
  opacity: 0.5;
}

header
{
  height: 200px;
  background-image: url('images/P9162008.JPG');
  background-size: cover;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 20px;
}

header .logo
{
  width: 200px;
  height: auto;
  justify-self: end;
}

header h1
{
  font-family: 'Sarabun', sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #b7b7d4;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 1),  /* oikea-alakulma */
    -1px 1px 3px rgba(0, 0, 0, 1), /* vasen-alakulma */
    1px -1px 3px rgba(0, 0, 0, 1), /* oikea-yläkulma */
    -1px -1px 3px rgba(0, 0, 0, 1);
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
    header {
        height: 150px; /* Pienempi header pienemmillä näytöillä */
    }

    .logo {
        width: 20vw; /* Isompi logo pienemmillä näytöillä suhteessa näkymään */
    }
}

@media (max-width: 480px) {
    header {
        height: 150px; /* Vielä pienempi header */
    }

    .sisalto
    {
      display: grid;
      grid-template-columns: 1fr;
    }

    .image-content
    {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }

    .logo {
        width: 40vw; /* Suurempi leveys suhteessa näkymään, kun näyttö on kapea */
        top: 5%; /* Lisää tilaa ylhäältä */
        right: 5%; /* Lisää tilaa oikealta */
    }
}
  
nav
{
  padding: 1em;
  background-color: #f9f9f9;
  border-bottom: 2px solid #869386;
  border-top: 2px solid #869386;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 15px;
}

nav a
{
  text-decoration: none;
  color: #869386;
  font-weight: bold;
  font-size: 1.2em;
}

nav a:hover 
{
  color: #401D09;
}

nav a.active /* Korosta valittu sivu */
{
  color: #f9f9f9; 
  background-color: #869386;
  border-radius: 3px;
  padding: 0.2em 0.2em;
}

/* ----- MEDIA ----- */
.media 
{
  padding: 2em;
  background-color: #f9f9f9;
}

.media h2 
{
  color: #869386;
  margin-top: 0;
  text-align: center;
}

/* Flexbox - Ensimmäinen rivi */
.media .flex-row 
{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 2em;
}

.media .flex-row .placeholder 
{
  background-color: #869386;
  flex: 1;
  height: 150px;
  border-radius: 5px;
}

/* Grid - Toinen rivi */
.media .grid-container 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.media .grid-container .placeholder 
{
  background-color: #acbaac;
  height: 150px;
  border-radius: 5px;
}

.sisalto {
  display: grid;
  grid-template-columns: 75% 25%; /* 75% tekstille, 25% kuville */
  gap: 1em;
  margin: 2em;
  background-color: #f9f9f9; /* Vaalea tausta sisällölle */
  padding: 1em;
  border: 1px solid #869386; /* Tehostevärinen reunus */
  border-radius: 5px;
}

.text-content {
  background-color: #f1f1f1;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-content {
  background-color: #f1f1f1;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid; /* Järjestetään kuvat riveihin */
  grid-template-columns: 1fr; /* Kaksi kuvaa vierekkäin */
  gap: 1em; /* Välit kuvien välillä */
}

.image-content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

/* ----- FOOTER ----- */
footer
{
  border-top: 3px solid #401D09;
}




/* ----- FONT ----- */

.sarabun-thin {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sarabun-extralight {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sarabun-light {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sarabun-regular {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarabun-medium {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarabun-semibold {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarabun-bold {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarabun-extrabold {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarabun-thin-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.sarabun-extralight-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sarabun-light-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sarabun-regular-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sarabun-medium-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.sarabun-semibold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.sarabun-bold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sarabun-extrabold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: italic;
}